<!--
    Utilize o seu projeto em angular para fazer um serviço de notificação para atualizar os itens adicionados no carrinho
para isso crie um modelo de pedidos e um serviço que adicione um item de pedido na lista de pedidos, sempre que adicionar um item na lista de pedidos
o compoente de carrinho precisa ser atualizado, mostrando a quantidade de itens no pedido

estrutura

Modelos

Pedido
 - ID
 - IdCliente
 - Itens = []
 - Valor total (método que calcula o valor total)
- Data do pedido

Cliente
  - Id
  - Nome

Produto
 - id
 - nome
 - descricao
 - preco
-->

<app-hearder></app-hearder>
<router-outlet></router-outlet>
<app-carrinho></app-carrinho>