<div class="row justify-content-center" style="margin-top: 100px;">
    <div class="col-lg-8 col-xl-7">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Cliente</th>
              <th scope="col">Produtos</th>
              <th scope="col">Valor total</th>
              <th scope="col">Data do pedido</th>
              <th scope="col" colspan="1"></th>
            </tr>
          </thead>
          <tbody>
           <tr >
            <td></td>
           </tr>
          </tbody>
      </table>
    </div>
</div>

